{
  "openapi": "3.0.0",
  "info": {
    "title": "WSO2-standalone",
    "contact": {},
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://wso2.extsrv.com",
      "variables": {}
    }
  ],
  "paths": {
    "/sasreports/rest/account-metrics-acm": {
      "get": {
        "tags": [
          "acm"
        ],
        "summary": "account-metrics-acm",
        "operationId": "account-metrics-acm",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/sasreports/rest/open-positions-acm": {
      "get": {
        "tags": [
          "acm"
        ],
        "summary": "open-positions-acm",
        "operationId": "open-positions-acm",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/sasreports/rest/inactive-account-metrics-acm": {
      "get": {
        "tags": [
          "acm"
        ],
        "summary": "inactive-account-metrics-acm",
        "operationId": "inactive-account-metrics-acm",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/sasreports/rest/open-orders-acm": {
      "get": {
        "tags": [
          "acm"
        ],
        "summary": "open-orders-acm",
        "operationId": "open-orders-acm",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/sasreports/rest/activities/closed-transactions-acm": {
      "get": {
        "tags": [
          "acm"
        ],
        "summary": "activities/closed-transactions-acm",
        "operationId": "activities/closed-transactions-acm",
        "parameters": [
          {
            "name": "startTime",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1589205005000
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1589291405000
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/sasreports/rest/activities/transfers-acm": {
      "get": {
        "tags": [
          "acm"
        ],
        "summary": "activities/transfers-acm",
        "operationId": "activities/transfers-acm",
        "parameters": [
          {
            "name": "startTime",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1589205005000
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1589291405000
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/sasreports/rest/instruments-acm": {
      "get": {
        "tags": [
          "acm"
        ],
        "summary": "instruments-acm",
        "operationId": "instruments-acm",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/sasreports/rest/account-metrics": {
      "get": {
        "tags": [
          "Regular"
        ],
        "summary": "account-metrics",
        "operationId": "account-metrics",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/sasreports/rest/open-positions": {
      "get": {
        "tags": [
          "Regular"
        ],
        "summary": "open-positions",
        "operationId": "open-positions",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/sasreports/rest/inactive-account-metrics": {
      "get": {
        "tags": [
          "Regular"
        ],
        "summary": "inactive-account-metrics",
        "operationId": "inactive-account-metrics",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/sasreports/rest/open-orders": {
      "get": {
        "tags": [
          "Regular"
        ],
        "summary": "open-orders",
        "operationId": "open-orders",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/sasreports/rest/activities/closed-transactions": {
      "get": {
        "tags": [
          "Regular"
        ],
        "summary": "activities/closed-transactions",
        "operationId": "activities/closed-transactions",
        "parameters": [
          {
            "name": "startTime",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1589205005000
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1589291405000
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/sasreports/rest/activities/transfers": {
      "get": {
        "tags": [
          "Regular"
        ],
        "summary": "activities/transfers",
        "operationId": "activities/transfers",
        "parameters": [
          {
            "name": "startTime",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1589205005000
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1589291405000
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/sasreports/rest/instruments": {
      "get": {
        "tags": [
          "Regular"
        ],
        "summary": "instruments",
        "operationId": "instruments",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/sasreports/rest/activities/completed-orders": {
      "get": {
        "tags": [
          "Regular"
        ],
        "summary": "activities/completed-orders",
        "operationId": "activities/completed-orders",
        "parameters": [
          {
            "name": "startTime",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1589205005000
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1589291405000
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "CANCELED"
            }
          },
          {
            "name": "sleep",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 10
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/sasreports/rest/user-records": {
      "get": {
        "tags": [
          "Regular"
        ],
        "summary": "user-records",
        "operationId": "user-records",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/sasreports/rest/candles": {
      "get": {
        "tags": [
          "Regular"
        ],
        "summary": "candles",
        "operationId": "candles",
        "parameters": [
          {
            "name": "startTime",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1589205005000
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1589291405000
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/sasreports/rest/best-bid-ask": {
      "get": {
        "tags": [
          "Regular"
        ],
        "summary": "best-bid-ask",
        "operationId": "best-bid-ask",
        "parameters": [
          {
            "name": "startTime",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1589205005000
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1589291405000
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/sasreports/rest/sas-stats": {
      "get": {
        "tags": [
          "Regular"
        ],
        "summary": "sas-stats",
        "operationId": "sas-stats",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/sasreports/rest/cfd-options": {
      "get": {
        "tags": [
          "Regular"
        ],
        "summary": "cfd-options",
        "operationId": "cfd-options",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/dxweb/rest/customers": {
      "post": {
        "tags": [
          "dxweb"
        ],
        "summary": "createCustomer",
        "operationId": "createCustomer",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/x-www-form-urlencoded"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "password",
                  "currencyCode",
                  "accountType",
                  "brandPrefix",
                  "activeStatus",
                  "company",
                  "fullName",
                  "isIslamic",
                  "isPaperMoney",
                  "isOmnibus",
                  "country",
                  "externalId"
                ],
                "type": "object",
                "properties": {
                  "password": {
                    "type": "integer",
                    "format": "int32",
                    "example": 123
                  },
                  "currencyCode": {
                    "type": "string",
                    "example": "USD"
                  },
                  "accountType": {
                    "type": "string",
                    "example": "REAL"
                  },
                  "brandPrefix": {
                    "type": "string",
                    "example": "mk"
                  },
                  "activeStatus": {
                    "type": "integer",
                    "format": "int32",
                    "example": 1
                  },
                  "company": {
                    "type": "string",
                    "example": "strongbow"
                  },
                  "fullName": {
                    "type": "string",
                    "example": "nastya"
                  },
                  "isIslamic": {
                    "type": "integer",
                    "format": "int32",
                    "example": 0
                  },
                  "isPaperMoney": {
                    "type": "integer",
                    "format": "int32",
                    "example": 0
                  },
                  "isOmnibus": {
                    "type": "integer",
                    "format": "int32",
                    "example": 0
                  },
                  "country": {
                    "type": "string",
                    "example": "ua"
                  },
                  "externalId": {
                    "type": "string",
                    "example": "a"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/dxweb/rest/customers/mk867131": {
      "put": {
        "tags": [
          "dxweb"
        ],
        "summary": "updateAccount",
        "operationId": "updateAccount",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/x-www-form-urlencoded"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "newFullName",
                  "country",
                  "activeStatus"
                ],
                "type": "object",
                "properties": {
                  "newFullName": {
                    "type": "string",
                    "example": "Nastya"
                  },
                  "country": {
                    "type": "string",
                    "example": "fr"
                  },
                  "activeStatus": {
                    "type": "integer",
                    "format": "int32",
                    "example": 0
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/dxweb/rest/customers/mk867131/transfers": {
      "post": {
        "tags": [
          "dxweb"
        ],
        "summary": "changeAccountBalance",
        "operationId": "changeAccountBalance",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/x-www-form-urlencoded"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "amount",
                  "transferType",
                  "transferCode",
                  "comment",
                  "requestSource"
                ],
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "integer",
                    "format": "int32",
                    "example": 100
                  },
                  "transferType": {
                    "type": "string",
                    "example": "DEPOSIT"
                  },
                  "transferCode": {
                    "type": "string",
                    "example": "AAABZzsI9ywwwRbkK_L"
                  },
                  "comment": {
                    "type": "string",
                    "example": "Comments"
                  },
                  "requestSource": {
                    "type": "string",
                    "example": "CRM"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/dxweb/rest/customers/mk867131/activateProfiles": {
      "put": {
        "tags": [
          "dxweb"
        ],
        "summary": "activateProfiles",
        "operationId": "activateProfiles",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/x-www-form-urlencoded"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "allProfilesSet",
                  "activateProfilesSet"
                ],
                "type": "object",
                "properties": {
                  "allProfilesSet": {
                    "type": "string",
                    "description": "This profiles will be removed",
                    "example": "9276996:3"
                  },
                  "activateProfilesSet": {
                    "type": "string",
                    "description": "This profiles will be activated"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/dxweb/rest/customers/mk867131/exchangeProfiles": {
      "put": {
        "tags": [
          "dxweb"
        ],
        "summary": "exchangeProfiles",
        "operationId": "exchangeProfiles",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/x-www-form-urlencoded"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "profileAdd",
                  "profileRemove"
                ],
                "type": "object",
                "properties": {
                  "profileAdd": {
                    "type": "string"
                  },
                  "profileRemove": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/dxweb/rest/accounts/mk867131/validate/withdrawal": {
      "get": {
        "tags": [
          "dxweb"
        ],
        "summary": "validate/withdrawal",
        "operationId": "validate/withdrawal",
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "double",
              "example": 238.9
            }
          },
          {
            "name": "requestSource",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "CRM"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/dxweb/rest/generateToken": {
      "get": {
        "tags": [
          "dxweb"
        ],
        "summary": "generateToken",
        "operationId": "generateToken",
        "parameters": [
          {
            "name": "login",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "root"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "system"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/dxweb/rest/accounts/mk867131/metrics": {
      "get": {
        "tags": [
          "dxweb"
        ],
        "summary": "/validate/adjustment",
        "operationId": "/validate/adjustment",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "securitySchemes": {
      "httpBearer": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "httpBearer": []
    }
  ],
  "tags": [
    {
      "name": "acm"
    },
    {
      "name": "Regular"
    },
    {
      "name": "dxweb"
    }
  ]
}